<div *ngIf="sprites" class="card sprites">
  <div class="card-title">Sprites</div>
  <div class="items">
    <!-- Back -->
    <img [src]="sprites.back_default" alt="">
    <img [src]="sprites.back_shiny" alt="">
    <img [src]="sprites.back_shiny_female" alt="">
    <img [src]="sprites.back_female" alt="">
    <!-- Front -->
    <img [src]="sprites.front_default" alt="">
    <img [src]="sprites.front_shiny" alt="">
    <img [src]="sprites.front_shiny_female" alt="">
    <img [src]="sprites.front_female" alt="">
  </div>
</div>
